
{% extends "base.html" %}

{% block content %}


<arctile class="row">
  <section class="two fourths right-one padded bounceInDown animated">
    <img src="../static/images/super_bee.jpg" />
    <hr>

    <h2>About</h2>
    <img src="../static/images/alli_mud.jpg" width="150" height="265" class="pull-right gap-left" alt/>
    <p>
      Welcome! My name is Adam. I am a husband, a dog-father, and a goofball.
      I am a web developer with experience playing with all parts of the full
      stack and a strong history in geospatial data.
      This is my little ditty of a <i class="italic">profile</i>, <i class="italic">resume</i>, or whatever
      you'd like to call it.<br>
      I'm a very driven person with a thirst to be the best I can be at what I do.
      There's a little tick inside me that will not allow me to rest until <i class="italic">
      it feels</i> the task is complete. I value knowing how to find the knowledge
      far more than I value the knowledge itself.I think music is medicine and
      make sure I self medicate as necessary. I believe in comedy as a crucial
      necessity to be applied to all things in life.<br>
      I am an individual. We are all individuals; And we should all conduct
      ourselves as such.
    </p>

  </section>
  <section class="one fourth left-two padded border-right bounceInLeft animated">
    <h2>Posts</h2>
    <ul class="page-list">
      {% for page in pages %}
          <li><a href="{{ url_for('page', path=page.path) }}">
              {{ page.meta.title }}
          </a>- {{ page.meta.date }}</li>
      {% endfor %}
    </ul>
    <hr>

  </section>
  <section class="one fourth padded border-left bounceInRight animated">
    <h2>Posts</h2>
    <ul class="page-list">
      {% for page in pages %}
          <li><a href="{{ url_for('page', path=page.path) }}">
              {{ page.meta.title }}
          </a>- {{ page.meta.date }}</li>
      {% endfor %}
    </ul>
  </section>
</article>

{% endblock %}
