
{% extends "base.html" %}

{% block content %}


<article class="row">
  <section class="two fourths right-one padded bounceInDown animated">
    <img src="../static/images/super_bee.jpg" />
    <hr>
    <h2>About</h2>
    <img src="../static/images/alli_mud.jpg" width="150" height="265" class="pull-right gap-left" alt/>
    <p>
      Welcome! My name is Adam. I am a husband, a dog-father, and a goofball.
      I am a web developer with experience playing with all parts of the full
      stack and a strong history in geospatial data.
      This is my little ditty of a <i class="italic">profile</i>, <i class="italic">resume</i>, or whatever
      you'd like to call it.<br>
      I'm a very driven person with a thirst to be the best I can be at what I do.
      There's a little tick inside me that will not allow me to rest until <i class="italic">
      it feels</i> the task is complete. I value knowing how to find the knowledge
      far more than I value the knowledge itself. I think music is medicine and
      make sure I self medicate as necessary. I believe in comedy as a crucial
      necessity to be applied to all things in life.<br>
      I am an individual. We are all individuals; And we should all conduct
      ourselves as such.
    </p>
  </section>
  <section class="one fourth left-two padded border-right bounceInLeft animated">
    <h4>Operating Systems</h4>
    <ul style="list-style: none;margin-left:0px;">
      <li><i class="icon-linux"></i> Unix - Ubuntu, CentOS, xfce</li>
      <li><i class="icon-windows"></i> Microsoft Windows</li>
      <li><i class="icon-th"></i> Google Chrome</li>
    </ul>
    <hr>
    <h4 class="pull-right">Database Management</h4>
    <ul class="page-list pull-right">
      <li>Postgres w/ PostGIS</li>
      <li>SQL Server</li>
      <li>AWS RDS</li>
      <li>SQLite</li>
      <li>RethinkDB</li>
      <li>ESRI ArcServer</li>
      <li>ESRI ArcSde</li>
    </ul>
    <hr>
    <h4>GIS</h4>
    <ul class="page-list">
      <li>ESRI ArcGIS Suite</li>
      <li>QGIS</li>
      <li>ArcGIS Online</li>
      <li>ESRI REST Services</li>
    </ul>
    <hr>
    <h4 class="pull-right" style="text-align:right;">Texas Natural Resources<br>Information System</h4>
    <p class="pull-right" style="text-align:right;">
      <a href="http://tnris.org" title="tnris.org">
        <img src="../static/images/tnris.jpeg" width="80" height="80" class="pull-left gap-right" alt/>
      </a>
      GIS data provider, historical aerial archive, LiDAR facilitator, and community leader<br>
      <a href="https://github.com/TNRIS" title="Github Organization">Github</a>
    </p>
  </section>
  <section class="one fourth padded border-left bounceInRight animated">
    <h4 class="pull-right">Languages &amp; Engines</h4>
    <ul class="page-list pull-right">
      <li>Javascript +ES6, Node.js</li>
      <li>Python +3, Flask</li>
      <li>HTML +5</li>
      <li>CSS, SCSS</li>
      <li>GIT, Markdown, Makefile</li>
      <li>SQL</li>
    </ul>
    <hr>
    <h4>Projects</h4>
    <ul class="page-list">
      <li><a href="{{ url_for('projects', _anchor='flood') }}" title="Flood Viewer">Flood Information Viewer</a></li>
      <li><a href="{{ url_for('projects', _anchor='road_runner') }}" title="Road Runner">Road Runner</a></li>
      <li><a href="{{ url_for('projects', _anchor='iswp') }}" title="ISWP">Texas Interactive State Water Plan</a></li>
      <li><a href="{{ url_for('projects', _anchor='dusa') }}" title="DUSA">DUSA</a></li>
      <li><a href="{{ url_for('projects', _anchor='tnris_org') }}" title="tnris.org">tnris.org</a></li>
      <li><a href="{{ url_for('projects', _anchor='cri') }}" title="County Road Inventory">County Road Inventory</a></li>


    </ul>
    <hr>
    <h4 class="pull-right">Web Mapping &amp; Visualization</h4>
    <ul class="page-list pull-right">
      <li>Leaflet JS</li>
      <li>ESRI JS API</li>
      <li>WMS Services</li>
      <li>REST Services</li>
      <li>Google Maps API</li>
    </ul><hr>
    <h4 class="pull-left">Network &amp; Deployments</h4>
    <ul class="page-list pull-left">
      <li>Amazon Web Services</li>
      <li>Terraform</li>
      <li>Docker</li>
      <li>Ansible</li>
    </ul>
  </section>
</article>

{% endblock %}
