
{% extends "base.html" %}

{% block content %}
<h2>Projects</h2>
<h8><i class="italic pull-left">Some example projects I lead or participated in.</i></h8>
<article class="row">
  <section class="two fourths padded bounceInRight animated">
    <h4 id="flood">Flood Information Viewer</h4>
    <p>
      All about import
    </p>
    <hr>
    <h4 id="dusa">DUSA</h4>
    <p>
      All about import
    </p>
    <hr>
    <h4 id="tnris_org">tnris.org</h4>
    <p>
      All about import
    </p>
  </section>
  <section class="two fourths padded bounceInLeft animated">
    <h4 id="road_runner">Road Runner</h4>
    <p>
      All about import
    </p>
    <hr>
    <h4 id="iswp">Texas Interactive State Water Plan</h4>
    <p>
      All about import
    </p>
    <hr>
    <h4 id="cri">County Road Inventory</h4>
    <p>
      All about import
    </p>
  </section>
</article>
{% endblock %}
