
{% extends "base.html" %}

{% block content %}
<h2>Projects</h2>
<h8><i class="italic pull-left">Some example projects I lead or participated in.</i></h8>
<article class="row">
  <section class="two fourths padded bounceInRight animated">
    <h4 id="flood">Flood Information Viewer</h4>
    <p>
      exas is no stranger to flood. With its diverse geography and extensive,
      hurricane-prone coastline, the state frequently leads the nation not only
      in structural damage but also in loss of lives related to flooding events. 
    </p>
    <hr>
    <h4 id="dusa">DUSA</h4>
    <p>
      Data Updates &amp; Sharing Application - Designed to empower local subject
      matter experts with GIS capabilities by providing a spatial environment for
      the review and markup of the current geospatial road inventory in a desktop
      environment. With capabilites to edit, download, and upload REST service
      data, this is a revolution of the traditional paper methods used for
      routine update projects.
    </p>
    <hr>
    <h4 id="tnris_org">tnris.org</h4>
    <p>
      This repository contains the content and code used to generate Texas Natural
      Resources Information System website: tnris.org
    </p>
  </section>
  <section class="two fourths padded bounceInLeft animated">
    <h4 id="road_runner">Road Runner</h4>
    <p>
      Road Runner - A transformative application for non-technical users to perform
      routine field work in a digital record environment using geolocation and
      smart mobile devices. This application retires old paper methods as
      information is instantly logged to REST services complete with location,
      attribution, and attachments.<br>
      Coyote - The sibling application to the Road Runner, the Coyote permits
      supervisors to query, navigate, monitor, map, and update data directly in
      the field after it has been collected from the Road Runner application
      using their smart mobile device.
    </p>
    <hr>
    <h4 id="iswp">Texas Interactive State Water Plan</h4>
    <p>
      This website is an integral part of the 2017 State Water Plan that lets
      water users statewide take an up-close look at data in the 2017 State
      Water Plan and how water needs change over time. The user-friendly website,
      which is also easily viewed on most mobile devices, now shows:<br>
           - projected water demands,<br>
           - existing water supplies,<br>
           - the relative severity and projected water needs (potential shortages),<br>
           - the water management strategies recommended to address potential shortages, and<br>
           - recommended capital projects and their sponsors.<br>
      over the next 50 years in geographical and tabular forms. Note that all
      county-based water user group categories are mapped to the same location
      at the center of each county.
    </p>
    <hr>
    <h4 id="get">Guardrail End Treatments</h4>
    <p>
      Guardrail End Treatment Acquisition - A simple but exceptionally powerful
      application used for a time sensitive G.E.T. field data collection effort
      to satisfy a high priority data request. This application empowered
      non-technical users the ability to participate in data collection at a
      record pace using only their smart mobile devices.
    </p>
  </section>
</article>
{% endblock %}
