
{% extends "base.html" %}

{% block content %}


<article class="row">
  <section class="two fourths right-one padded bounceInDown animated">
    <h2>About</h2>
    <p>
      Welcome!
      I am a data/web/software/cloud developer/engineer/architect with experience playing in 
      all parts of the full stack and a strong history in geospatial data. It's hard to 
      pin down one of the many hot labels floating around these days to describe all 
      that I do in the modern, computer programming world.
      This is my little ditty of a <i class="italic">profile</i>, <i class="italic">resume</i>, or whatever
      you'd like to call it.<br>
      I'm exceptionally driven. Music is medicine. Comedy is a crucial
      necessity to be applied to all things in life. I am an individual. We are all individuals.
    </p>
    <p>
      I heavily dig open source software; prioritizing it's utilization in every project whenever appropriate. I've been 
      designing, building, and maintaining AWS architecture and developer operations since 2016 and it's my 
      primary professional passion. My career roots from data and my university education in Geospatial Information Systems. 
      It has naturally evolved with the rapid growth of technology to include web & software development, 
      backend process engineering, cloud infrastructure engineering, and developer operations.
    </p>
    <hr>
    {% include "map.html" %}
    <hr>
    <h4>Education</h4>
    <div class="row">
      <ul>
        <li><strong>Bachelor of Science</strong> - Salisbury University - Salisbury, MD <em>(2005 to 2009)</em></li>
        <i>Studied Geography with a concentration on geospatial data and Geographic Information Systems</i>
        <li><strong>DevOps Engineering on AWS</strong> - Global Knowledge <em>(March 2020)</em></li>
        <li>Countless hours and late nights of persevering problem solving, hands-on experience, and 
        self-teaching <em>(2013 to Present)</em>
        </li>
      </ul>
    </div>
    <hr>
  </section>
  <section class="one fourth left-two padded border-right bounceInLeft animated">
    <h4>Operating Systems <i class="icon-linux"></i></h4>
    <div class="row">
      Sincere preference to UNIX operating systems.
      <ul>
        <li><a href="http://www.ubuntu.com/" title="Ubuntu">Ubuntu</a></li>
        <li><a href="http://aws.amazon.com/amazon-linux-ami/" title="Amazon Linux OS">Amazon Linux OS</a></li>
        <li><a href="http://getfedora.org/en/" title="Fedora">Fedora</a></li>
        <li><a href="http://www.microsoft.com/en-us/windows/" title="Windows">Windows</a></li>
        <li><a href="http://www.google.com/chromebook/" title="Google Chrome OS">Google Chrome OS</a></li>
      </ul>
    </div>
    <hr>
    <h4 class="pull-right">Database Management</h4>
    <div class="row">
      SQL, NoSQL, and serverless experience.
      <ul>
        <li><a href="http://www.postgresql.org/" title="PostgreSQL">PostgresSQL</a></li>
        <li><a href="http://aws.amazon.com/rds/" title="Amazon RDS">Amazon RDS, Aurora Serverless</a></li>
        <li><a href="http://www.postgresql.org/" title="ArcGIS Server">ArcGIS Server</a></li>
        <li><a href="http://aws.amazon.com/dynamodb/" title="Amazon DynamoDB">Amazon DynamoDB</a></li>
        <li><a href="http://www.rethinkdb.com/" title="RethinkDB">RethinkDB</a></li>
      </ul>
    </div>
    <hr>
    <h4>GIS</h4>
    <div class="row">
      <ul>
        <li><a href="http://www.gdal.org/" title="GDAL">GDAL</a></li>
        <li><a href="http://www.qgis.org/en/site/" title="QGIS">QGIS</a></li>
        <li><a href="http://www.arcgis.com/" title="ESRI ArcGIS">ESRI ArcGIS</a></li>
        <li><a href="http://www.esri.com/software/arcgis/arcgisonline" title="ArcGIS Online">ArcGIS Online</a></li>
      </ul>
    </div>
    <hr>
    <h4 class="pull-right" style="text-align:right;">Texas Natural Resources<br>Information System</h4>
    <div class="row">
      <div class="one half two-up-mobile">
        <a href="http://tnris.org" title="tnris.org">
          <img src="{{ url_for('static', filename='images/tnris.jpeg') }}" class="center pad-right pad-bottom" style="border-radius:20px;" alt/>
        </a>
      </div>
      <div class="one half two-up-mobile">
        <p class="pull-right" style="text-align:right;">
          Currently employed @ TNRIS.<br>
          GIS data provider, historical aerial archive, LiDAR facilitator, and community leader<br>
          <a href="https://github.com/TNRIS" title="Github Organization">Github</a>
        </p>
      </div>
    </div>
    <hr>
    <h4 class="center">Frontend</h4>
    <div class="row">
      A few preferred packages.
      <ul>
        <li><a href="http://reactjs.net/" title="React JS">React.JS</a></li>
        <li><a href="http://github.com/reduxjs/react-redux" title="React Redux">React Redux</a></li>
        <li><a href="http://angularjs.org/" title="Angular JS">Angular JS</a></li>
        <li><a href="http://getbootstrap.com/" title="Bootstrap (Twitter)">Bootstrap</a></li>
        <li><a href="http://material.io/" title="Material Design">Material Design</a></li>
      </ul>
    </div>
    <hr>
  </section>
  <section class="one fourth padded border-left bounceInRight animated">
    <h4 class="pull-left">Cloud Architecture &amp; DevOps</h4>
    <div class="row">
      <ul>
        <li><a href="http://aws.amazon.com/" title="Amazon Web Services">Amazon Web Services</a></li>
        <li><a href="http://aws.amazon.com/cloudformation/" title="AWS Cloudformation">AWS Cloudformation</a></li>
        <li><a href="http://terraform.io" title="Terraform">Terraform</a></li>
        <li><a href="http://jenkins.io/" title="Jenkins">Jenkins CI</a></li>
        <li><a href="http://www.docker.com/" title="Docker">Docker</a></li>
        <li><a href="http://travis-ci.org/" title="Travis CI">Travis CI</a></li>
        <li><a href="http://www.ansible.com/" title="Ansible">Ansible</a></li>
        <li><a href="http://www.nginx.com/" title="Nginx">Nginx</a></li>
      </ul>
    </div>
    <hr>
    <h4 class="pull-right">Software Languages, Packages, &amp; Engines</h4>
    <div class="row">
      <ul>
        <li><a href="http://nodejs.org/en/" title="Node JS">Node JS</a></li>
        <li><a href="http://www.npmjs.com/" title="NPM">NPM</a></li>
        <li><a href="http://es6-features.org/#Constants" title="JS ES6">JS ES6</a></li>
        <li><a href="http://www.python.org/" title="Python">Python</a></li>
        <li><a href="http://www.djangoproject.com/" title="Django">Django</a></li>
        <li><a href="http://flask.pocoo.org/" title="Flask">Flask</a></li>
        <li><a href="http://en.wikipedia.org/wiki/SQL" title="SQL">SQL</a></li>
        <li><a href="http://git-scm.com/" title="Git">Git</a></li>
        <li><a href="http://en.wikipedia.org/wiki/Markdown" title="Markdown">Markdown</a></li>
        <li><a href="http://www.w3schools.com/html/html5_intro.asp" title="HTML">HTML</a></li>
        <li><a href="http://sass-lang.com/" title="ScSS">ScSS</a></li>
        <li><a href="http://webpack.github.io/" title="Webpack">Webpack</a></li>
      </ul>
    </div>
    <hr>
    <h4>Projects</h4>
    A couple visual projects.
    <ul class="page-list">
      <li><a href="{{ url_for('projects', _anchor='data_tnris_org') }}" title="TNRIS API &amp; DataHub">TNRIS API &amp; DataHub</a></li>
      <li><a href="{{ url_for('projects', _anchor='ls4') }}" title="Lambda s3 Services">Lambda s3 Services</a></li>
      <li><a href="{{ url_for('projects', _anchor='flood') }}" title="Flood Viewer">Flood Information Viewer</a></li>
      <li><a href="{{ url_for('projects', _anchor='road_runner') }}" title="Road Runner">Road Runner</a></li>
      <li><a href="{{ url_for('projects', _anchor='iswp') }}" title="ISWP">Texas Interactive State Water Plan</a></li>
      <li><a href="{{ url_for('projects', _anchor='get') }}" title="Guardrail End Treatment Acquisition">Guardrail End Treatments</a></li>
    </ul>
    <hr>
    <h4 class="pull-right">Web Mapping &amp; Visualization</h4>
    <div class="row">
      <ul>
        <li><a href="http://leafletjs.com/" title="Leaflet JS">Leaflet JS</a></li>
        <li><a href="http://docs.mapbox.com/mapbox-gl-js/api/" title="Mapbox GL JS">Mapbox GL JS</a></li>
        <li><a href="http://carto.com/developers/" title="Carto">Carto</a></li>
        <li><a href="http://developers.arcgis.com/javascript/" title="ESRI JS API">ESRI JS API</a></li>
        <li><a href="http://developers.google.com/maps/documentation/javascript/" title="Google Maps">Google Maps</a></li>
      </ul>
    </div>
    <hr>
    <h4 class="pull-right">Bloodline</h4>
    <div class="row">
      <div>
        <a href="http://www.hotrod.com/articles/history-of-the-scat-pack-through-ads-from-1960s/" title="Scat Pack Club">
          <img src="{{ url_for('static', filename='images/scatpack.png') }}" class="center double-pad-left double-pad-right" style="max-height:80px;" alt/>
        </a>
      </div>
    </div>
    <hr>
  </section>
</article>

{% endblock %}
