/*@font-face {
  font-family: AUdimat-Regular;
  src: url("./font/AUdimat-Regular.otf") format("opentype");
}

@font-face {
    font-family: AUdimat-Bold;
    font-weight: bold;
    src: url("./font/AUdimat-Bold.otf") format("opentype");
}*/

/*@font-face {
    font-family: AUdimat-Italic;
    font-weight: italic;
    src: url("./font/AUdimat-Italic.otf") format("opentype");
}*/

body, h1, h2, h3, h4, h6 {
  font-family: source-sans-pro,Helvetica,Arial,Geneva,sans-serif !important;
  text-transform: lowercase !important;
  background: white !important;
}

h4>ul>li {
  font-size: 14px;
}

.title-vert {
  line-height: 80px;
}

#title-name {
  padding-left: 20px;
}

#gravatar {
  border-radius: 50px;
}

@media only screen and (max-width: 600px) {
    .geospatial-title {
      padding-top: 0px !important;
    }
}

.nav a {
  border-top: 0 !important;
}

i.italic {
  font-style: italic !important;
}

img {
  border-radius: 10px;
}

a.noLogo:before {
  content: none !important;
}

#map {
  height: 450px;
  width: 100%;
  position: relative;
}

a.leaflet-popup-close-button:after {
  content: none !important;
}

a.leaflet-control-zoom-in, a.leaflet-control-zoom-out {
  padding: 0px;
}

.blog-row {
  padding-top: 35px;
}

.blog_content > p {
  font-size: 16px !important;
}

.blog_content > h3 {
  text-decoration: underline;
}

code {
  font-size: 14px !important;
}

.footer > h3 {
  padding-top: 50px;
}
