@font-face {
  font-family: AUdimat-Regular;
  src: url("./font/AUdimat-Regular.otf") format("opentype");
}

@font-face {
    font-family: AUdimat-Bold;
    font-weight: bold;
    src: url("./font/AUdimat-Bold.otf") format("opentype");
}

@font-face {
    font-family: AUdimat-Italic;
    font-weight: italic;
    src: url("./font/AUdimat-Italic.otf") format("opentype");
}

body, h1, h2, h4, h6 {
  font-family: AUdimat-Regular !important;
  text-transform: lowercase !important;
}

h4>ul>li {
  font-size: 14px;
}

.title-vert {
  line-height: 80px;
}

#title-name {
  padding-left: 20px;
}

#gravatar {
  border-radius: 50px;
}

.nav a {
  border-top: 0 !important;
}

i.italic {
  font-family: AUdimat-Italic !important;
}

img {
  border-radius: 10px;
}

#map {
  height: 450px;
  width: 100%;
  position: relative;
}

a.leaflet-popup-close-button:after {
  content: none !important;
}

a.leaflet-control-zoom-in, a.leaflet-control-zoom-out {
  padding: 0px;
}
